.basemultiplecontent input {
    font-size: 50px;
    text-shadow: 2px 2px 2px var(--color-shadow-black);
    background: none;
    outline: none;
}

.editabletitle input:-webkit-autofill,
.editabletitle input:-webkit-autofill:hover, 
.editabletitle input:-webkit-autofill:focus, 
.editabletitle input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--color-light-yellow) inset !important;
}