.header {
    /* background-color: var(--color-red); */
    background:linear-gradient(0deg, rgb(140, 40, 31, 0.8), rgb(140, 40, 31, 0.8)), url(https://cdn.discordapp.com/attachments/899708135571345438/918870944766918656/abff7e9d05fb82b40d3fb8b8d56d690f.jpg);
    background-repeat: repeat;
    box-shadow: 0px 1.5px 10px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 40px;
    margin-top: -13px;
    height: 7.5%;
}

.header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-right: 40px;
}

.header button {
    background-color: transparent;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
}

.header button:hover {
    text-decoration: underline;
}

.header h1 {
    font-size: 50px;
    color: var(--color-white);
    text-shadow: 3px 3px black;
}

.header p {
    font-size: 20px;
    color: var(--color-white);
    border: 1px solid white;
    padding: 0px 20px 0px 20px;
    border-radius: 3px;
    cursor: default;
}
