@keyframes slideInFromLeft {
    0% {
        transform: translateX(-25%);
        opacity: 0;
        pointer-events: none;
    }
    25% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

a {
    display: inline;
}

.largebutton {
    height: 75px;
    width: 100%;
    border-radius: 5px;
    font-size: 40px;
    text-shadow: 2px 2px 2px var(--color-shadow-black);
    margin-bottom: 10px;
    background: linear-gradient(0deg, rgba(107, 36, 36, 0.65), rgba(107, 36, 36, 0.65)), url(https://cdn.discordapp.com/attachments/899708135571345438/918870944766918656/abff7e9d05fb82b40d3fb8b8d56d690f.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;
    cursor: pointer;

    -webkit-box-shadow: 6px 6px 13px -7px var(--color-shadow-black);
    box-shadow: 5px 5px 5px var(--color-shadow-black);

    /* animation: 0.7s cubic-bezier(0.25, -0.25, 0.1, 1.75) 0s 1 slideInFromLeft; */
}

.largebutton:hover {
    transition: 300ms;
    background-color: var(--color-red);
    color: var(--color-white);
}

.choosed .largebutton {
    background-color: var(--color-red);
    color: var(--color-white);
}

.largebutton svg {
    height: 40px;
    padding-top: 3px;
}

.largebutton:hover svg path {
    fill: var(--color-white);
    transition: 300ms;
}

.newbutton {
    background-color: rgb(33, 102, 63) !important;
}

.newbutton:hover {
    background-color: seagreen !important;
}
