.largebutton {
    height: 20%;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: rgba(107, 36, 36, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black;
}

.largebutton:hover {
    transition: 300ms;
    background-color: var(--color-red);
    color: var(--color-white);
}

.largebutton svg {
    height: 40px;
    padding-top: 3px;
}

.largebutton:hover svg path {
    fill: var(--color-white);
    transition: 300ms;
}
